.index {
    padding: 1.6rem 0;
    .index-header {
        color: #fff;
        span {
            font-weight: 600;
            font-size: 2rem;
        }
        .base-style {
            display: flex;
        }

        .wechat {
            background-color: #70ca63;
        }

        .qq {
            background-color: #967adc;
        }

        .dingding {
            background-color: #5d5dfd;
        }

        .weibo {
            background-color: #fb452d;
        }

        .icon-style {
            color: #fbfbf4b3;
            font-size: 6rem;
            padding-right: 1rem;
        }
    }
    .bar-header {
        display: flex;
        justify-content: space-between;
    }
}

.link {
    color: #1890ff;
    cursor: pointer;
    &:hover {
        color: #40a9ff;
    }
}
.danger {
    color: #ff4d4f;
    &:hover {
        color: #fc1d00;
    }
}
.hide {
    display: none;
}
// .ant-form-item {
//     margin-bottom: 10px !important;
// }
