.table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #eee;
}
.face_lib {
    margin-top: auto;
    width: 100%;
    height: 100%;
}
.lib_right {
    width: 81.5%;
    height: 100%;
    float: right;
}
.lib_left {
    width: 18%;
    height: 100%;
    float: left;
}
.table_title {
    transition: all 0.4s;
    cursor: pointer;
    font-size: 15px;
    &:hover {
        color: #1890ff;
    }
}
.detail-img {
    width: 100px;
    height: 100px;
}
