.container {
    width: 100%;

    &-content {
        height: calc(100vh - 80px);
        font-size: 12px;

        &_sidebar {
            height: 100%;
            width: 100%;
            background: #fff;

            &--content {
                height: 100%;
            }

            // &--footer {
            //     background-color: #f1f1f1;
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            //     right: 0;
            //     padding: 6px 10px;
            //     border: 1px solid #ddd;
            //     display: flex;
            //     justify-content: space-around;
            // }
        }

        &_content {
            height: 100%;

            &--content {
                height: calc(100% - 25px);
                width: 100%;
            }

            &--footer {
                background-color: #333;
                color: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 6px 10px;
                border-top: 1px solid #ccc;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
.height_100 {
    height: 100%;
}
.down {
    transform: scale(0.6);
}
.divider {
    border-color: #666;
    margin: 0;
}
.cursor {
    cursor: pointer;
}
.screen {
    width: 100%;
    height: 100%;
    background-color: #000;
}
.screen4 {
    width: 50%;
    height: 50%;
    float: left;
    background-color: #000;
}
.screen9 {
    width: 33.33%;
    height: 33.33%;
    float: left;
    background-color: #000;
}
.flowItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.sidebar {
    height: 100%;
    &-item {
        height: 50%;
        &-title {
            padding: 6px 8px;
            font-weight: bold;
            background-color: #f1f1f1;
            border: 1px solid #e2e2e2;
        }
        &-content {
            height: calc(100% - 32px);
            overflow: auto;
            padding: 10px;
        }
    }
}
