.filter-item {
    width: 300px;

    & + .filter-item {
        margin-left: 10px;
    }
}
.container {
    // background: #fff;
    width: 100%;

    &-content {
        height: calc(100vh - 80px);

        &_sidebar {
            height: 100%;
            width: 100%;
            background: #fff;

            .list-title {
                background: #001529;
                color: #fff;
                margin-bottom: 2px;
                padding: 5px 10px;

                &-button {
                    font-size: 12px;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    color: #bbb;
                    cursor: pointer;
                    transition: color 0.3s;
                    &:hover {
                        color: #fff;
                    }
                }
            }

            .list {
                overflow: auto;
                height: calc(100% - 37px);

                &-item {
                    padding: 10px;
                    background: #fff;
                    & + .list-item {
                        margin: 4px 0;
                    }
                }

                &-img {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        &_content {
            height: 95%;
            width: 95%;
            margin: 0 18px;

            .content-header {
                padding: 10px;
                background: #fff;
            }

            .content-cavans {
                height: calc(100% - 100px);
                height: 90%;
                width: 95%;
                position: absolute;
                background: #000;
            }
        }
    }
}
.height_100 {
    height: 100%;
}
.mr_10 {
    margin-right: 10px;
}
.detail-img {
    width: 100px;
    height: 100px;
}
.form-span {
    color: #999;
}
